/**
 * Fixes
 */

.editor-block-list__layout

	.mbc-container

		button[aria-label="Wide width"]
		button[aria-label="Full width"]
			display none

		.editor-block-list__block[data-align="full"]

			> .editor-block-list__block-edit
				margin-left -44px
				margin-right -44px

				&:before
					left -14px
					right -14px

@media (min-width: 600px)

	.edit-post-visual-editor

		.mbc-container

			.editor-block-list__block[data-align="full"]

				.editor-block-list__block-edit
					margin-left -28px
					margin-right -28px

	.mbc-container

		.editor-block-list__layout

			.editor-block-list__block[data-align="full"]
				margin-left 0
				margin-right 0

@media only screen and (min-width: 768px)

	.editor-styles-wrapper

		.mbc-container

			.wp-block[data-align="full"]
				left 0
				max-width 100%
