/**
 * Icon
 */

+prefix-classes('mbc-')

	.icon-front-x
		opacity 1
	.icon-front-y
		opacity .3
	.icon-front-z
		opacity .6

	.icon-back-x
		opacity .4
	.icon-back-y
		opacity 0
	.icon-back-z
		opacity .1
