/**
 * Content
 */

@import "./_maxwidth.styl"

+prefix-classes('mbc-')

	.content
		position relative
		display block
		width 100%

	.content_align-right
		margin-left auto

	.content_align-center
		margin 0 auto

	div.content_align-full
		max-width none

	.container
		div.content.has-color
			a
			a:link
			a:visited
			a:active
			a:hover
			cite
			li
				color inherit
