/*
 * Background
 */

.mbc-background
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	color transparent
	background-color transparent
	border-color transparent
	background-repeat no-repeat
	background-size cover
	background-position center

	&:after
		content ""
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		background-color inherit

	&:empty:after
		background-color transparent

	&.mbc-has-bg_image:empty:after
		background-color inherit

	.mbc-background-image
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		object-fit cover

.mbc-background_image_fixed-enabled
	background-attachment fixed
