/*
 * Content
 */

.mbc-content
	position relative
	display block
	width 100%

.mbc-content_align-right
	margin-left auto

.mbc-content_align-center
	margin 0 auto

div.mbc-content_align-full
	max-width none
