/*
 * Layout
 */

.mbc-content_align-right
    margin-left auto

.mbc-content_align-center
    margin 0 auto

.mbc-container
    position relative

.mbc-content
    position relative
    display block
    width 100%

.mbc-background
    position absolute
    width 100%
    height 100%
    top 0
    left 0

    &:after
        content ""
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-color var(--background_color)

    .mbc-background-image
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        object-fit cover
