/*
 * Padding
 */

for num in (0..200)
	if num % 5 == 0
		.mbc-padding_topbottom-{num}
			padding-top (num)px
			padding-bottom (num)px
		.mbc-padding_leftright-{num}
			padding-left (num)px
			padding-right (num)px
		.mbc-padding_top-{num}
			padding-top (num)px
		.mbc-padding_bottom-{num}
			padding-bottom (num)px
		.mbc-padding_left-{num}
			padding-left (num)px
		.mbc-padding_right-{num}
			padding-left (num)px
