/*
 * Padding
 */

for num in (0..200)
	if num % 5 == 0
		.mbc-paddingtop-{num}
			padding-top (num)px
		.mbc-paddingbottom-{num}
			padding-bottom (num)px
		.mbc-paddingleftright-{num}
			padding-left (num)px
			padding-right (num)px
